[submodule "mworks"]
	path = mworks
	url = https://github.com/mworks/mworks.git
[submodule "plugins/client/.dicarlolab_mwclient_plugins"]
	path = plugins/client/.dicarlolab_mwclient_plugins
	url = https://github.com/dicarlolab-mworks/dicarlolab_mwclient_plugins.git
[submodule "plugins/core/.dicarlolab_mwcore_plugins"]
	path = plugins/core/.dicarlolab_mwcore_plugins
	url = https://github.com/dicarlolab-mworks/dicarlolab_mwcore_plugins.git
[submodule "plugins/core/BlackrockLEDDriver"]
	path = plugins/core/BlackrockLEDDriver
	url = https://github.com/dicarlolab-mworks/BlackrockLEDDriver.git
[submodule "plugins/core/EyeLink1000"]
	path = plugins/core/EyeLink1000
	url = https://github.com/dicarlolab-mworks/EyeLink1000.git
[submodule "plugins/core/Firmata"]
	path = plugins/core/Firmata
	url = https://github.com/dicarlolab-mworks/Firmata.git
[submodule "plugins/core/ISCAN"]
	path = plugins/core/ISCAN
	url = https://github.com/dicarlolab-mworks/ISCAN.git
[submodule "plugins/core/NIDAQ"]
	path = plugins/core/NIDAQ
	url = https://github.com/dicarlolab-mworks/NIDAQ.git
[submodule "plugins/core/OpenEphys"]
	path = plugins/core/OpenEphys
	url = https://github.com/dicarlolab-mworks/OpenEphys.git
[submodule "plugins/core/TextStimulus"]
	path = plugins/core/TextStimulus
	url = https://github.com/dicarlolab-mworks/TextStimulus.git
