[submodule "mworks"]
	path = mworks
	url = git://github.com/mworks/mworks.git
[submodule "mw_build"]
	path = mw_build
	url = git://github.com/dicarlolab-mworks/mw_build.git
[submodule "dicarlolab_mwcore_plugins"]
	path = dicarlolab_mwcore_plugins
	url = git://github.com/dicarlolab-mworks/dicarlolab_mwcore_plugins.git
[submodule "dicarlolab_mwclient_plugins"]
	path = dicarlolab_mwclient_plugins
	url = git://github.com/dicarlolab-mworks/dicarlolab_mwclient_plugins.git
